@import '../../reset.scss';

.main {
  @include desktop {
    width: 1024px;
    margin: 0 auto;
  }
  padding: 40px;
  position: relative;
  // color: #484848;
}

.title {
  font-size: 42px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 0;
  // color: #484848;
}

.createAt {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 16px;
  color: #aaa;
}

.viewerSection {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 40px 0 30px;
  margin-bottom: 20px;
  line-height: 1.6em;
}

.viewerSection h1,
.viewerSection h2,
.viewerSection h3,
.viewerSection h4,
.viewerSection h5,
.viewerSection h6 {
  border-bottom: 0;
  margin-bottom: 20px;
}

.viewerSection h1 {
  font-size: 36px;
}

.viewerSection h2 {
  font-size: 32px;
}

.viewerSection h3 {
  font-size: 28px;
}

.viewerSection h4 {
  font-size: 24px;
}

.viewerSection h5 {
  font-size: 22px;
}

.viewerSection h6 {
  font-size: 20px;
}

.viewerSection p,
.viewerSection li {
  font-size: 16px;
}

.tagContainer {
  display: inline-block;
  margin: 10px 5px 10px 0;
}
