.main {
  padding: 20px;
}

.tagContainer {
  display: inline-block;
  margin: 10px 5px 10px 0;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
