@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 414px) and (max-width: 1023px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 413px) {
    @content;
  }
}

#viewerSection h1 {
  font-size: 50px !important;
  color: red;
}

#viewerSection pre {
  font-size: 50px !important;
  color: red;
}
